{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СушиShop</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="/static/css/roboto.css" rel="stylesheet">    

    {% block head %}{% endblock head %}

</head>
<body>
    <div class="navbar__container">
        <nav class="navbar">
            <a class="header__logo" href="{% url 'index' %}">🥢 СушиShop</a>
            <div class="cart-container">
                <a class="cart-link" href="{% url 'cart' %}">
                    <img class="cart-link__icon" src="/static/icons/cart.svg" width="30" height="30" alt="Корзина">
                </a>
                {% include 'includes/add_to_cart_popup.html' %}
            </div>
        </nav>
    </div>

    {% block breadcrumbs %}{% endblock breadcrumbs %}

    {% block content %}{% endblock content %}

    <!-- Подключение консультанта -->
    {% include 'includes/dialog_widget.html' %}

    <!-- Подключение JavaScript -->
    <script src="{% static 'js/ajax_cart.js' %}"></script>
</body>
</html>
