{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content__container">

        <h2>🍣 Добро пожаловать в СушиShop! 🍢</h2>
        <p>Ищете вкусные и свежие суши с доставкой прямо к вашему порогу? СушиShop – это ваш идеальный выбор! Мы предлагаем широкий ассортимент блюд японской кухни, приготовленных с любовью и профессионализмом.</p>

        <h2>Почему выбирают нас? 🤔</h2>
        <ul>
            <li>📦 <strong>Быстрая доставка</strong>: Мы заботимся о вашем времени и доставляем заказы в минимально возможные сроки.</li>
            <li>🍣 <strong>Свежайшие ингредиенты</strong>: Только качественные продукты, которые радуют вкус и здоровье.</li>
            <li>💰 <strong>Доступные цены</strong>: Наслаждайтесь вкусом японской кухни, не переплачивая.</li>
            <li>🛒 <strong>Удобный заказ онлайн</strong>: Пару кликов – и ваш обед уже в пути!</li>
        </ul>

        <h2>🎉 Наши хиты продаж 🔥</h2>
        <ul>
            <li>🌸 Ролл "Филадельфия" – нежный сыр, свежий лосось и тонкий аромат авокадо.</li>
            <li>🍤 Темпура с креветками – хрустящая оболочка и сочная начинка.</li>
            <li>🥗 Вакан-салат – лёгкое и полезное дополнение к вашему заказу.</li>
        </ul>

        {% if products_on_popular %}
        <h2>✨ Популярные товары 🛒</h2>
        <p>Покупатели выбирают лучшее! Эти товары завоевали сердца наших клиентов благодаря своему вкусу и качеству. 
            Проверьте, почему их так любят, и добавьте в свой заказ прямо сейчас! 👇</p>
            <div class="popular-product__container">
                {% for product in products_on_popular %}
                    <div class="popular-product__item">
                        <a class="popular-product__item__header" href="{% url 'product_detail' pk=product.pk %}">
                            <h4>{{ product.name }}</h4>
                            <div class="popular-product__item__photo__container">
                                {% if product.image %}
                                    <img class="popular-product__item__photo" src="{{ product.image.url }}">
                                {% endif %}
                            </div>
                            <div class="popular-product__item__price">Цена: {{ product.price|floatformat:0 }} ₽</div>
                        </a>
                        <div class="buy-button-container">
                            {% include 'includes/ajax_buy_button.html' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if products_on_sale %}
            <h2>💰 Скидки 🎉</h2>
            <p>Не упустите шанс сэкономить на вашем заказе! Используйте наши акции и специальные предложения, 
                чтобы насладиться вкусными суши по выгодной цене. <strong>Товары по акции</strong> ждут Вас 👇</p>
            <div class="popular-product__container">
                {% for product in products_on_sale %}
                    <div class="popular-product__item">
                        <a class="popular-product__item__header" href="{% url 'product_detail' pk=product.pk %}">
                            <h4>{{ product.name }}</h4>
                            <div class="popular-product__item__photo__container">
                                {% if product.image %}
                                    <img class="popular-product__item__photo" src="{{ product.image.url }}">
                                {% endif %}
                            </div>
                            <div class="popular-product__item__price">Цена: {{ product.price|floatformat:0 }} ₽</div>
                        </a>
                        <div class="buy-button-container">
                            {% include 'includes/ajax_buy_button.html' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    
        <h2>🎉 Специальные предложения 🎉</h2>
        <p>Каждую неделю мы радуем наших клиентов скидками и акциями! Подпишитесь на нашу рассылку, чтобы не пропустить самые вкусные предложения. 👇</p>

        <h2>Сделайте заказ прямо сейчас! 🕒</h2>
        <p>Позвольте нам сделать ваш день вкуснее! Закажите суши в СушиShop и насладитесь идеальным сочетанием вкуса, свежести и сервиса. 📲 Нажмите на кнопку ниже, чтобы перейти в <strong>Каталог</strong> 👇</p>
        
        <div class="center">
            <a href="products/" class="button">В каталог</a>
        </div>
        
    </div>
{% endblock %}