html {
    overflow-y: scroll; /* Всегда показывать вертикальный скроллбар */
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(44, 14, 3);
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e45100;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #973704;
    transform: translateY(-3px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
/* Навбар с логотипом и корзиной */
.navbar {
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: center; /* Центрирует логотип по горизонтали */
    align-items: center; /* Центрирует элементы по вертикали */
    position: relative; /* Для абсолютного позиционирования корзины */
    height: 60px; /* Высота шапки */
    background-color: #fff;
    margin-bottom: 20px;
}

/* Логотип */
.header__logo {
    font-weight: 700;
    font-size: 34px;
    text-align: center; /* Центрирование текста */
    color: inherit;
    text-decoration: inherit;
    margin-bottom: 30px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.breadcrumbs a {
    text-decoration: none;
    color: #e45100;
}

.breadcrumbs a:hover {
    text-decoration: underline;
    color: #973704;
}

.breadcrumbs span {
    margin: 0 5px;
    color: #777;
}
.center {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
/* Контейнер для всего содержимого */
.content__container {
    max-width: 800px; /* Ограничивает ширину контейнера */
    margin: auto; /* Центрирует контейнер по горизонтали */
    padding: 0 20px; /* Добавляет отступы по бокам */
}


/* Catalog */
.catalog__container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 120px;
}

.catalog__item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.catalog__item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .catalog__container {
        grid-template-columns: 1fr;
    }
}
.catalog__item__header {
    color: inherit;
    text-decoration: inherit;
}
.catalog__item__header h2 {
    margin-top: 0;
}
.catalog__item__photo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.catalog__item__photo {
    /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.catalog__item__price {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}
/* /Catalog */


/* Popular Products */
.popular-product__container {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.popular-product__item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.popular-product__item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popular-product__item__header {
    color: inherit;
    text-decoration: inherit;
}
.popular-product__item__header h2 {
    margin-top: 0;
}
.popular-product__item__photo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.popular-product__item__photo {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.popular-product__item__price {
    font-size: 18px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    font-weight: 500;
}
/* /Popular Products */


/* Sort */
.sort {
    position: absolute;
    right: 0;
}
.sort button[type="submit"] {
    border: none;
    padding:4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.sort button[type="submit"]:hover {
    background-color: #bcbcbc;
    color: white;
}
/* /Sort */

.sorting-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.buy-button-container {
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 15px; /* Отступ снизу */
    margin-left: 30px; /* Отступ слева */
    margin-right: 30px; /* Отступ справа */
    text-align: center; /* Если нужно центрировать кнопку */
}

.cart-button:hover {
    background-color: #e67e00; /* Цвет при наведении */
}

.cart-button {
    position: absolute; /* Абсолютное позиционирование */
    right: 20px; /* Отступ от правого края */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Коррекция вертикального положения */
}

/* Корзина */
.cart-container {
    position: absolute; /* Абсолютное позиционирование внутри navbar */
    right: 20px; /* Прижимаем корзину к правому краю контейнера */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Корректируем вертикальное положение */
    display: flex; /* Если есть другие элементы рядом с корзиной */
    align-items: center;
}

.cart-link {
    text-decoration: none;
}

.cart-link__icon {
    width: 30px; /* Размер иконки */
    height: 30px;
}

/* Стили для контейнера навигации */
.navbar__container {
    /* Общие стили */
    max-width: 800px; /* Как в content__container */
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;

    /* Уникальные стили */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}
